body {
    padding: 25px;
    background-color: #151515;
    color: #dcdcdc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    max-width: 100%;
}
/*sidebar formatting*/
.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    right: 0px;
    z-index: 1;
    top: 0px;
    overflow-x: hidden;
    background-color: #2f87a6;
    border-left: 5px solid;
    border-left-style: outset;
    border-color: #3e3e7e;
    padding-top: 20px;
}
#search {
    background-color: #181a1b;
    margin: 5% 2% 2%;
    border-style: outset;
    border-color: #736b5e;
    padding-left: 12.5%;
}
#save {
    position: absolute;
    bottom: 5%;
    left: 5%;
    margin-bottom: 5%;
    padding-left: 20%;
    width: 60%;
    background-color: #181a1b;
    border-style: outset;
    border-color: #736b5e;
}
/*sidebar2 formatting*/
.sidebar2 {
    height: 100%;
    width: 160px;
    position: fixed;
    left: 0px;
    z-index: 1;
    top: 0px;
    overflow-x: hidden;
    background-color: #444444;
    padding-top: 20px;
}
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #dcdcdc;
    display: block;
}
.sidebar b {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #dcdcdc;
    display: block;
}
.main {
    margin-right: 160px; /* Same as the width of the sidebar */
    margin-left: 160px;
    padding: 0px 10px;
}

#header {
    text-align: center;
    margin-right: 160px;
    margin-left: 160px;
    background-color: #004c8b;
    font-family: "Franklin Gothic Demi";
}
#text {
    background-color: #181a1b;
    border-color: #736b5e;
    color: #dcdcdc;
    min-width: 100%;
    max-width: 100%;
    height: 500px;
    min-height: 500px;
    max-height: 500px;
}

p {
    font-family: Verdana;
    font-size: 20px;
}
/*general button formatting*/
button {
    border-color: #736b5e;
    color: #e8e6e3;
    background-color: #181a1b;
}
#darkbutton {
    border-color: #736b5e;
    color: #e8e6e3;
    background-color: #181a1b;
    margin-left: 10%;
    padding: 10px 15%;
    font-size: 15px;
}
#darkbutton:hover {
    background-color: #565656;
    color: #dcdcdc;
}
/*key box formatting*/
#keybox{
    position: absolute;
    bottom: 25px;
}
#keyboxHeader {
    color: #dcdcdc;
    font-family: "Monotype Corsiva", cursive;
    font-size: 25px;
    text-align: center;
    margin: 5%;
}
#enterkey {
    color: #e8e6e3;
    width: 50%;
    background-color: #181a1b;
    border-color: #736b5e;
}
/*Text box formatting */
input.text {
    color: #e8e6e3;
    height: 500px;
    background-color: #181a1b;
    border-color: #736b5e;
}

.lightMode {
    background-color: white;
    color: black;
}
.lightButton {
    border-color: gray;
    color: black;
    background-color: white;
}
.lightInput[type="submit"] {
    background-color: white;
    border-color: gray;
    color: black;
}